.pub {
    text-align: left;
    margin-bottom: 30px;
    padding: 20px;
    /* background-color: var(--background-light); */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(52, 73, 94, 0.1);
    transition: all 0.3s ease;
}

.pub:hover {
    box-shadow: 0 4px 8px rgba(52, 73, 94, 0.15);
    transform: translateY(-3px);
}

.pub-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.pub-title a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.pub-title a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.pub-venue {
    font-style: italic;
    color: var(--text-secondary);
    margin-bottom: 5px;
}

.pub-authors {
    color: var(--text-primary);
    font-size: 0.9em;
}

.google-scholar-section {
    margin-top: 50px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    /* box-shadow: 0 4px 6px rgba(52, 73, 94, 0.1); */
}

.google-scholar-link {
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: var(--text-light);
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.google-scholar-link:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(52, 73, 94, 0.2);
}

.google-scholar-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

@media (max-width: 768px) {
    .pub {
        padding: 15px;
    }

    .pub-title {
        font-size: 20px;
    }

    .google-scholar-section {
        padding: 20px;
    }

    .google-scholar-link {
        padding: 10px 20px;
    }
}