.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    margin-left: 60px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 2px;
    height: 100%;
    background: var(--secondary-color);
}

.entry {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.entry-image {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-left: 5px;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(52, 73, 94, 0.1);
}

.entry-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.entry-content {
    flex-grow: 1;
    padding-left: 20px;
    background-color: var(--background-light);
    /* background-color: white; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(52, 73, 94, 0.1);
    transition: all 0.3s ease;
}

.entry-content:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(52, 73, 94, 0.15);
}

.entry-dot {
    position: absolute;
    top: 35px;
    left: -42px;
    width: 16px;
    height: 16px;
    background: var(--primary-color);
    border-radius: 50%;
    border: 3px solid var(--background-light);
    z-index: 3;
}

.entry-header {
    margin-bottom: 10px;
}

.entry-header h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-primary);
}

.entry-header .organization {
    margin: 5px 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-color);
}

.entry-meta {
    margin: 5px 0 0 0;
    font-size: 16px;
    color: var(--text-secondary);
    font-style: italic;
}

.entry-meta .year,
.entry-meta .location {
    display: inline-block;
}

.entry-meta .year::after {
    content: " | ";
    margin: 0 5px;
    color: var(--text-secondary);
    font-style: normal;
}

.entry-content p {
    margin: 10px 0;
    color: var(--text-primary);
    font-size: 18px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .timeline {
        margin-left: 40px;
    }
    .entry-image {
        width: 60px;
        height: 60px;
    }
    .entry-dot {
        left: -32px;
        top: 25px;
    }
    .entry-header h3 {
        font-size: 22px;
    }
    .entry-header .organization {
        font-size: 18px;
    }
    .entry-meta {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .timeline {
        margin-left: 30px;
    }
    .entry-image {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }
    .entry-dot {
        left: -27px;
        top: 20px;
        width: 12px;
        height: 12px;
    }
    .entry-header h3 {
        font-size: 20px;
    }
    .entry-header .organization {
        font-size: 16px;
    }
    .entry-meta {
        font-size: 13px;
    }
    .entry-content p {
        font-size: 16px;
    }
}